@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center 
      h-16 w-80 mt-2 mb-2 mx-auto  
    bg-gray-400 hover:bg-green-600 dark:bg-gray-800 
    text-green-500 hover:text-white
      hover:rounded-xl rounded-3xl
      transition-all duration-200 ease-linear
      cursor-pointer shadow-lg;
  }
  /* Add these custom styles to your CSS file or within a style tag in your component file if you're using CSS-in-JS */
.rtl-text {
  direction: rtl;
  text-align: right;
}

.ltr-text {
  direction: ltr;
  text-align: left;
}

  
}
